
<!DOCTYPE html>
<html>
<head>
	<title>David's Formation Gen</title>
	<link rel="stylesheet" type="text/css" href="/css/squad/main2.css">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<div class="container--main">
	<div class="container--section">
		<p>Choose your soccer team's formation:</p>
		<div class="container--choice">
			<label for="442" onClick="check();">
				<input checked type="radio" id="442" name="formation">
				<span>442</span>
			</label>
			<label for="433" onClick="check();">
				<input type="radio" id="433" name="formation">
				<span>433</span>
			</label>
			<label for="343" onClick="check();">
				<input type="radio" id="343" name="formation">
				<span>343</span>
			</label>
		</div>
	</div>


	<div class="container--field container--section">
		<div class="player player-goalkeeper">GK</div>
		<div class="player player-one">x</div>
		<div class="player player-two">x</div>
		<div class="player player-three">x</div>
		<div class="player player-four">x</div>
		<div class="player player-five">x</div>
		<div class="player player-six">x</div>
		<div class="player player-seven">x</div>
		<div class="player player-eight">x</div>
		<div class="player player-nine">x</div>
		<div class="player player-ten">x</div>
	</div>
</div>
<footer>
	<script type="text/javascript" src="/js/squad/main.js"></script>
</footer>
