<!DOCTYPE html>
<html>
<head>
	<title>David's Formation Gen</title>
	<link rel="stylesheet" type="text/css" href="css/squad/main.css">
</head>
<body>

<h1 id="into-text">Below is the formation generated for <span id="team-name"></span></h1>

<div id="main-container">
	<div>
		<div class="pos-outer-div">
			<div class="player">
				<div class="player-num">1</div>
			</div>
		</div>
		<div class="pos-outer-div">
			<div class="player">
				<div class="player-num">2</div>
			</div>
			<div class="player">
				<div class="player-num">5</div>
			</div>
			<div class="player">
				<div class="player-num">6</div>
			</div>
			<div class="player">
				<div class="player-num">3</div>
			</div>
		</div>
		<div class="pos-outer-div">
			<div class="player">
				<div class="player-num">7</div>
			</div>
			<div class="player">
				<div class="player-num">4</div>
			</div>
			<div class="player">
				<div class="player-num">8</div>
			</div>
			<div class="player">
				<div class="player-num">11</div>
			</div>
		</div>
		<div class="pos-outer-div">
			<div class="player">
				<div class="player-num">10</div>
			</div>
			<div class="player">
				<div class="player-num">9</div>
			</div>
		</div>
	</div>
</div>

</body>

<footer>
	<script type="text/javascript" src="js/squad/formationGen.js"></script>
	<script type="text/javascript" src="js/squad/localConfigParser.js"></script>
	<script type="text/javascript" src="js/squad/index.js"></script>

</footer>
</html>