<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Favicon-->
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" sizes="16x16">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AboutMatch</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>

    .input-form {
      max-width: 680px;

      margin-top: 80px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="input-form-background row">
      <div class="input-form col-md-12 mx-auto">
        <h4 class="mb-3">회원 가입</h4>
        <form action="" th:action="@{/member/add}" th:object="${member}" method="post">
          <div class="mb-3">
            <label for="memberId">아이디</label>
            <input type="text" class="form-control" id="memberId" th:field="*{memberId}" required>
            <div style="color:red;" th:errors="*{memberId}"></div>
          </div>
          <div class="mb-3">
            <label for="memberEmail">이메일</label>
            <input type="email" class="form-control" id="memberEmail" th:field="*{memberEmail}"
                   placeholder="you@example.com" required>
            <div style="color:red;" th:errors="*{memberEmail}"></div>
          </div>
          <div class="mb-3">
            <label for="memberPwd">비밀 번호</label>
            <input type="password" class="form-control" id="memberPwd"
                   th:field="*{memberPwd}" required>
            <div style="color:red;" th:errors="*{memberPwd}"></div>
          </div>
          <div class="mb-3">
            <label for="memberPwdChk">비밀 번호 확인</label>
            <input type="password" class="form-control" id="memberPwdChk" required>
          </div>
          <div class="mb-3">
            <label for="memberAddress">주소</label>
            <input type="text" class="form-control" id="memberAddress" th:field="*{memberAddress}" required>
          </div>
          <div class="mb-3">
            <label for="memberName">이름</label>
            <input type="text" class="form-control" id="memberName" th:field="*{memberName}"
                   placeholder="2글자부터 5글자까지 한글만 입력 가능 합니다." required>
            <div style="color:red;" th:errors="*{memberName}"></div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" onclick="return validatePassword()" type="submit">가입 완료</button>
        </form>
      </div>
    </div>
    <footer class="my-3 text-center text-black">
      <p class="mb-1">&copy; 2024 AboutMatch</p>
    </footer>
  </div>
  <script>
    function validatePassword() {
      var passwd = document.getElementById("memberPwd").value;
      var repeatPasswd = document.getElementById("memberPwdChk").value;

      if (passwd != repeatPasswd) {
        alert("패스워드가 일치하지 않습니다.");
        return false;
      }
      return true;
    }

    window.addEventListener('load', () => {
      const forms = document.getElementsByClassName('validation-form');

      Array.prototype.filter.call(forms, (form) => {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  </script>
</body>

</html>