<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AboutMatch</title>
    <!-- Favicon-->
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" sizes="16x16">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .my_bg {
                background-image: url("/assets/loginHomeBackGround.jpg");
                background-size: cover;
                background-position: center;
            }
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">AboutMatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/board/list}">게시판</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" th:action="@{/logout}" method="post">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Header-->
<div class="container px-4 px-lg-5 ">
    Welcome Manager! <a th:href="@{/}" >[[${loginMember.memberName}]]</a>
</div>

<header class="py-1">
    <div class="container px-4 px-lg-5 my-3">
        <div class="text-center">
            <h1 class="display-4 fw-bolder">AboutMatch</h1>
        </div>
    </div>
</header>
<div class="container">
    <form class="d-flex" th:action="@{/record/list/{id}(id=${record.backNum})}" th:method="delete">
        <button class="btn btn-primary" type="submit">
            삭제
        </button>
    </form>
</div>
<div class="container">
    <form action="" th:action="@{/record/edit}" th:object="${record}" th:method="patch">
        <div class="mb-3">
            <label for="backNum">등번호는 수정하지 마세요(문의바람)</label>
            <input type="text" class="form-control" id="backNum" th:field="*{backNum}" required>
        </div>
        <div class="mb-3">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required>
        </div>
        <div class="mb-3">
            <label for="matchNum">경기수</label>
            <input type="text" class="form-control" id="matchNum" th:field="*{matchNum}" required>
        </div>
        <div class="mb-3">
            <label for="score">득점</label>
            <input type="text" class="form-control" id="score" th:field="*{score}" required>
        </div>
        <div class="mb-3">
            <label for="assist">어시스트</label>
            <input type="text" class="form-control" id="assist" th:field="*{assist}" required>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="btn btn-primary btn-lg btn-block" type="submit">수정하기</button>
            </div>
        </div>
    </form>
</div>
<!-- Footer-->
<br>
<footer class="py-3">
    <div class="container"><p class="m-0 text-center text-black">Copyright &copy; AboutMatch 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
