<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Favicon-->
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutMatch</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .input-form {
          max-width: 680px;
          margin-top: 80px;
          padding: 32px;

          background: #fff;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
          -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">AboutMatch</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" th:href="@{/login}">login</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="@{/member/add}">join</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/board/list}">게시판</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">로그인</h4>
            <form action="" th:action="@{/login}" th:object="${login}"  method="post">
                <div class="mb-3">
                    <label for="loginId">아이디</label>
                    <input type="text" class="form-control" id="loginId" th:field="*{loginId}" required>
                    <div style="color:red;" th:errors="*{loginId}"></div>
                </div>
                <div class="mb-3">
                    <label for="loginPwd">비밀 번호</label>
                    <input type="password" class="form-control" id="loginPwd" th:field="*{loginPwd}" required>
                    <div style="color:red;" th:errors="*{loginPwd}"></div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">로그인</button>
            </form>
        </div>
    </div>
    <footer class="my-3 text-center text-black">
        <p class="mb-1">&copy; 2024 AboutMatch</p>
    </footer>
</div>
</body>

</html>